<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coursera Single Page Web App with AngularJS</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">

</head>
<body ng-app="ShoppingListCheckOff">
<div id="wrap">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ACE - Coursera</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="../index.html">Home </a></li>
          <li><a href="../module1/index.html">Module 1 </a></li>
          <li class="active"><a href="#">Module 2 <span class="sr-only">(current)</span></a></li>
          <li><a href="../module3/index.html">Module 3 </a></li>
          <li><a href="../module4/index.html">Module 4 </a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container" id="main">
    <div class="row">
      <div class="col-xs-12">
        <h1>Module 2 Assignment</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-controller="ToBuyShoppingController as toBuy">
        <h2>To Buy</h2>
        <ol class="item-list">
          <li ng-repeat="item in toBuy.items">
            Buy {{item.quantity}} {{item.name}} 
            <button type="button" class="btn btn-primary btn-xs" ng-click="toBuy.bought($index)">Bought</button>
          </li>
        </ol>
        <p ng-if="!toBuy.items.length">Everything is bought!</p>
      </div>

      <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as bought">
        <h2>Already Bought</h2>
        <ol class="item-list">
          <li ng-repeat="item in bought.items">
            Bought {{item.quantity}} {{item.name}} 
          </li>
        </ol>
        <p ng-if="!bought.items.length">Nothing bought yet</p>
      </div>
      
    </div>
  </div>
</div>
  <footer class="footer">
    <div class="container">
      <p class="text-center">
        Alberto Contreras Espínola - Spain - September 2016
      </p>
    </div>  
  </footer>

  <script src="../js/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>
</html>